:root {
    --light-grey: #dfdfdf;
    --accent-orange: #ffc593;
    --accent-pink: #bc7198;
    --accent-blue: #5a77ff;
    --gradient: linear-gradient(45deg,
            var(--accent-orange),
            var(--accent-pink),
            var(--accent-blue));
}

*,
*::before,
*::after {
    box-sizing: border-box;
    outline: 1px dashed rgba(255, 0, 0, .4);
}

img {
    max-width: 100%;
    display: block;
}

nav,
ul,
li {
    margin: 0;
    padding: 0;
}

li {
    list-style: none;
}

body {
    margin: 0 auto;
    font-family: 'DM Sans', sans-serif;
    max-width: 1440px;
}

h1,
h2,
h3,
h4 {
    margin: 0;
}

/* h1 {
    font-size: 40px;
    line-height: 48px;
    letter-spacing: 4.17px;
}

h2 {
    font-size: 24px;
    line-height: 25px;
}

h3 {
    font-size: 18px;
    line-height: 25px;
}

h4 {
    font-size: 12px;
    line-height: 16px;
    letter-spacing: 2px;
    text-transform: uppercase;
    text-decoration: none;
} */

/* HEADER Y NAV */

.header {
    height: 4.5rem;
    padding: 0 1.5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

@media screen and (min-width: 768px) {
    .header {
        padding: 0 2.5rem;
    }
}

@media screen and (min-width: 1368px) {
    .header {
        padding: 0 10.375rem;
    }
}

.nav {
    display: none;
}

.nav--show {
    position: absolute;
    width: 100vw;
    height: 16rem;
    padding: 2rem;
    background-color: #fff;
    top: 4.5rem;
    left: 0;
    z-index: 100;
}

@media screen and (min-width: 768px) {
    .hamburger {
        display: none;
    }

    .nav {
        display: block;
        padding: 0;
        flex-grow: 1;
    }
}

.nav__list {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1.25rem;
}

@media screen and (max-width: 768px) {
    .nav__list li:nth-child(3) {
        margin-bottom: 1.25rem;
    }
}

@media screen and (min-width: 768px) {
    .nav__list {
        flex-direction: row;
        gap: 2.25rem;
    }

    .nav__list li:nth-child(1),
    .nav__list li:nth-child(4) {
        margin-left: auto;
    }
}

.nav__link {
    font-size: 15px;
    font-weight: 700;
    letter-spacing: 2px;
    color: black;
    text-transform: uppercase;
    text-decoration: none;
}

@media screen and (min-width: 768px) {
    .nav__link {
        font-size: .75rem;
    }
}

@media (hover: hover) {
    .nav__link:hover {
        color: var(--light-grey);
    }
}

/* BOTONES */

.button {
    font-size: 15px;
    font-weight: 700;
    letter-spacing: 2px;
    text-transform: uppercase;
    text-decoration: none;
    color: black
}

@media screen and (min-width: 768px) {
    .button {
        font-size: .75rem;
    }
}

@media (hover: hover) {

    .primary-grid .button:hover,
    .footer .button:hover {
        text-decoration: underline;
    }
}

.button--rectangle {
    position: relative;
    display: block;
    width: calc(100vw - 4rem);
    text-align: center;
    padding: .75rem 1.5rem;
}

@media screen and (max-width: 768px) {
    .button--rectangle::before {
        content: '';
        position: absolute;
        width: 100%;
        height: 1px;
        background-color: #979797;
        top: -20px;
        left: 0;
    }
}

@media screen and (min-width: 768px) {
    .button--rectangle {
        width: auto;
    }
}

.button--black {
    background-color: black;
    color: white;
}

@media (hover: hover) {
    .button--rectangle:hover {
        background-color: var(--light-grey);
        color: black;
    }
}

.button--arrow {
    position: relative;
}

.footer .button--arrow {
    right: calc(43px + 18px);
}

.button--arrow::after {
    content: '';
    position: absolute;
    background-image: url("../assets/shared/desktop/arrow-black.svg");
    width: 43px;
    height: 14px;
    top: 0;
    left: calc(100% + 18px);
}

.button--arrow--white::after {
    background-image: url("../assets/shared/desktop/arrow-white.svg");
}

.button--story {
    display: block;
    color: white;
    position: relative;
    width: 100%;
}

.button--story::after {
    content: '';
    position: absolute;
    background-image: url("../assets/shared/desktop/arrow-white.svg");
    width: 43px;
    height: 14px;
    top: 0;
    right: 0;
}

/* PRIMARY GRID */

.primary-grid {
    display: grid;
    grid-template-columns: 2.77fr 1fr 2.77fr;
}

.card__image {
    grid-column: span 2;
}

.card__container {
    padding: 0 7rem;
    display: flex;
    align-items: center;
}

.card__container--black {
    background-color: black;
    color: white;
    position: relative;
}

.card__container--black::before {
    content: '';
    position: absolute;
    width: 6px;
    height: 300px;
    background-image: var(--gradient);
    top: 180px;
    left: 0;
}

.card__title {
    margin-bottom: 21px;
    font-size: 2.5rem;
    font-weight: 700;
    line-height: 3rem;
    letter-spacing: 4.17px;
    text-transform: uppercase;
}

.text {
    font-size: 15px;
    line-height: 25px;
    opacity: .6;
    margin: 0;
}

.primary-grid .text {
    margin-bottom: 3rem;
}

/* STORIES GRID */

.stories-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}

.story {
    display: grid;
    align-items: end;
    position: relative;
    transition: transform 500ms;
}

@media (hover: hover) {
    .story:hover {
        transform: translateY(-1.5rem);
    }
}

.story::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-image: linear-gradient(transparent, rgba(0, 0, 0, 0.5));
}

@media (hover: hover) {
    .story:hover::after {
        content: '';
        position: absolute;
        width: 100%;
        height: .5rem;
        bottom: -.5rem;
        left: 0;
        background-image: var(--gradient);
    }
}

.story>* {
    grid-column: 1 / -1;
    grid-row: 1 / -1;
}

.story__text {
    color: white;
    padding: 0 2.5rem 2.5rem 2.5rem;
    z-index: 10;
}

.story__title {
    font-size: 1.125rem;
    font-weight: 700;
    margin: 0 0 4px;
}

.story__author {
    font-size: 13px;
    margin: 0 0 37px;
    position: relative;
}

.story__author::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 1px;
    background-color: #979797;
    top: 2rem;
    left: 0;
}

/* FEATURES GRID */

.features {
    max-width: 70rem;
    min-height: 30rem;
    margin: 0 auto;
    padding: 7.5rem 0;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1.875rem;
}

.features__card {
    display: grid;
    justify-items: center;
    align-content: space-between;
}

.features__text {
    text-align: center;
    min-height: 7.25rem;
}

.feature__title {
    margin-bottom: 1rem;
}

/* FOOTER */

.footer {
    padding: 4rem 10.5rem;
    background-color: black;
    color: white;
    display: grid;
    grid-template-columns: 1fr 2.2fr 1fr;
}

.footer>* {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.footer :last-child {
    align-items: flex-end;
}

.social {
    display: flex;
    align-items: flex-end;
    gap: 0.83rem;
}

.footer__list {
    gap: 19px;
}

.footer__link {
    font-size: 0.75rem;
    letter-spacing: 2px;
    color: white;
    text-transform: uppercase;
    text-decoration: none;
}

.footer__link:hover {
    opacity: .3;
}

/* SVG SOCIAL LOGOS */

.social__logo__path {
    fill: white;
}

@media (hover: hover) {
    .social__link:hover #fb__path {
        fill: url(#fb);
    }

    .social__link:hover #yt__path {
        fill: url(#yt);
    }

    .social__link:hover #tw__path {
        fill: url(#tw);
    }

    .social__link:hover #pi__path {
        fill: url(#pi);
    }

    .social__link:hover #ig__path {
        fill: url(#ig);
    }
}